@import "theme.css";

.search-layout {
    -fx-background-color: -left-panel-color;
}

.label {
    -fx-background-color: -left-panel-color;
    -fx-text-fill: -font-color;
    -fx-padding: 0px 4px 4px 20px;
}

.text-input, .text-field {
    -fx-text-fill: -font-color;
    -fx-background-color: -text-field-color;
    -fx-prompt-text-fill: -disabled-font-color;
    -fx-control-inner-background: -text-field-color;
    -fx-border-radius: 4px;
}

.spinner {
    -fx-background-radius: 4px;
}

.spinner:focused {
    -fx-background-color: transparent;
}

.text-field:focused,
.text-input:focused {
    -fx-border-color: -focus-blue;
}

.arrow-button, .increment-arrow-button, .decrement-arrow-button, .button {
    -fx-text-fill: -font-color; 
    -fx-background-color: -tabs-color;
    -fx-border-color: -tabs-color;
    -fx-border-radius: 4px;
    -fx-cursor: hand;
}

.arrow-button:hover,
.button:hover {
    -fx-opacity: 0.7;
}

.arrow, .increment-arrow, .decrement-arrow {
    -fx-background-color: -lighter-field-color;
}

.combo-box-popup .list-view { 
    -fx-background-color: -text-field-color;
    -fx-text-fill: -font-color;
}

.combo-box-popup .list-cell {
    -fx-cursor: hand;
    -fx-background-color: -text-field-color;
    -fx-text-fill: -font-color;
}

.combo-box-popup .list-cell:hover {
    -fx-cursor: hand;
    -fx-background-color: -focus-blue;
    -fx-text-fill: -font-color;
}

.combo-box {
    -fx-border-radius: 4px;
    -fx-background-color: -left-panel-color;
    -fx-text-fill: -font-color;
    -fx-alignment: center;
    -fx-content-display: left;
}

#titleBoxNoEdit .text-field, #authorBoxNoEdit  .text-field {
    -fx-cursor: hand;
}