@import "theme.css";

.query-container {
    -fx-alignment: center;
    -fx-padding: 0 10px;
    -fx-background-color: -left-panel-color;
}

.label {
    -fx-background-color: -left-panel-color;
    -fx-padding: 0px 4px 4px 20px;
}